@import "@styles/mixins/_colors.scss";

.m-crudItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;

  &.--hoverable {
    &:hover {
      background: #f5f5f5;
    }
  }

  &__textsContainer {
    overflow: hidden;

    &__text {
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: black;

      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &.--muted {
        color: #8d929a;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
      }
    }
  }

  &__buttonsContainer {
    display: flex;
    &__button {
      z-index: 10;
      border-style: none;
      background: transparent;
      cursor: pointer;

      &:hover {
        background: transparent;
      }

      &__icon {
        &:hover {
          &.--edit {
            @include recolor(rgb(179, 179, 28), 1);
          }

          &.--delete {
            @include recolor(red, 1);
          }
        }
      }
    }
  }
}
