.o-headerCrud {
  align-self: flex-end;

  &.--mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 3.8rem 2rem 0 2rem;
    background: white;
  }

  &__principal {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    cursor: default;

    &.--mobile {
      margin: 0;
    }
  }
  &__actions {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  &__button {
    background: black;
    color: white;
    border: none;
    border-radius: 100px;
    padding: 0.5rem;
    cursor: pointer;
  }
}
