$primary-font: "Work Sans", sans-serif;
$secondary-font: "Public Sans", sans-serif;

$media-desktop-lg: "only screen and (max-width : 3800px)";
$media-desktop-md: "only screen and (max-width : 1300px)";
$media-tablet: "only screen and (max-width : 768px)";
$media-mobile: "only screen and (max-width : 600px)";
$media-mobile-sm: "only screen and (max-width : 480px)";
